<!doctype html>
<title>{% block title %}{% endblock %} - Range Monitor</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
<nav>
    {% if g.user %}
        {% include 'partials/menu.html' %}
    <h1>Range Monitor</h1>
    <ul>
        <li><span>{{ g.user['username'] }}</span>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    </ul>
    {% else %}
    <ul>
        <li><a href="{{ url_for('auth.register') }}">Register</a>
        <li><a href="{{ url_for('auth.login') }}">Log In</a>
    </ul>
    {% endif %}
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>