<!doctype html>
<title>{% block title %}{% endblock %} - Range Monitor</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
<nav>
    {% if g.user %}
    {% include 'partials/menu.html' %}
    <h1>{% block header %}{% endblock %}</h1>
    <ul>
        <li>
            <span>
                {{ g.user['username'] }} 
                ({{ g.user['permission'] }})
            </span>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    </ul>
    {% else %}
    <ul>
        <li><a href="{{ url_for('auth.register') }}">Register</a>
        <li><a href="{{ url_for('auth.login') }}">Log In</a>
    </ul>
    {% endif %}
</nav>
<section class="content">
    {% for message in get_flashed_messages() %}
    <script>
        alert("{{ message }}");
    </script>
    {% endfor %}
    <br>
    {% block content %}{% endblock %}
</section>