<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - Range Monitor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}" type="text/css">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!-- Fonts Imported -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&
    family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&
    display=swap" rel="stylesheet">
    {% block imports %} {% endblock %}
</head>
<body>
    <nav class="star-background">
        {% if g.user %}
            {% include 'partials/menu.html' %}
            <h1 class="title-text">
                {% block header %}{% endblock %}
            </h1>
            <ul class="header-right">
                <li class="header-btn">
                    <span class="hdr-btn-text">
                    <i class="fa-solid fa-user"></i>
                    {{ g.user['username'] }} 
                    <br>
                    <i class="fa-solid fa-lock"></i>
                        {{ g.user['permission'] }} 
                    </span>
                </li>
                <li class="header-btn">
                    <span class="hdr-btn-text">
                        <a href="{{ url_for('auth.logout') }}" class="usrInfo">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i> 
                            Log Out 
                        </a>
                    </span>
                </li>
            </ul>
        {% endif %}
    </nav>
    {% if g.user %}
        {% include 'partials/alerts.html' %} 
    {% endif %}
    {% block content %}
    
    {% endblock %}
    
    <script src="{{ url_for('static', filename='js/dynamic-bg.js') }}"></script>
</body>
</html>