{% from 'macros/icons.html' import get_plugin_icon %} 
{% macro create_cards(collection) %} 
	{% for card_title in collection %}
	<div class="card" id="{{ card_title }}">
	  <div
	    class="card-image"
	    data-image="{{ url_for('static', filename='images/card_icons/' ~ card_title ~ '.png') }}"></div>
	  <div class="card-content">
	    <h3 class="card-title">
	      {{ get_plugin_icon(card_title) }} {{ card_title }}
	    </h3>
	    <p class="card-desc"></p>
	    <button class="card-btn" data-redirect="/{{ card_title }}">
	      <i class="fa-solid fa-circle-arrow-right" id="{{ card_title }}Icon"></i>
	      Visit
	    </button>
	  </div>
	</div>
{% endfor %} 
{% endmacro %}
