{% extends 'base.html' %} 
{% block title %}Users{% endblock %} 

{% block imports %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/user-changes.css') }}" />
{% endblock %}

{% block header %} 
  {% from 'macros/icons.html' import get_user_icon %}
    {{ get_user_icon(g.user['permission']) }} 
    {{ user['username'] | e }} | ({{user['permission']| e }}) 
{% endblock %} 

{% block content %}
<section class="aligner add-stars">
  <div class="form-container">
    <h2 class="form-title">
      Edit User - {{ user['username'] | e }}
      <i class="fa-solid fa-user-pen"></i>
    </h2>
    <form id="loginForm" method="post">
      <div class="input-field">
        <input
          type="text"
          id="username"
          name="username"
          value="{{ user['username'] }}" />
        {{ icon_class | safe}}
      </div>

      <div class="input-field">
        <input type="password" name="password" id="password" required />
        <i class="fas fa-lock"></i>
      </div>
      {% if g.user['permission'] == 'admin' %}
      <div class="input-field select-container">
        <select name="permission" class="select-box" value="{{ user['permission'] }}">
          <option value="" disabled selected>Select a User Permission</option>
          <option value="admin">Admin</option>
          <option value="user">User</option>
          <option value="readonly">Readonly</option>
        </select>
        <div class="select-icon">
          <i class="fa-regular fa-square-caret-down"></i>
        </div>
      </div>
      {% endif %}
      <br />
      <button type="submit" class="form-btn submit-btn" id="submitBtn">
        Save Changes
        <i class="fas fa-check"></i>
      </button>
    </form>
  </div>
</section>
{% if g.user['permission'] == 'admin' %} 
{% from 'macros/assets.html' import create_modal %}
<section class="aligner">
  {% set uname = user['username'] %}
  <h2 class="danger-zone form-title">
    <i class="fa-solid fa-circle-exclamation"></i>
    Danger Zone
  </h2>
  <form
    action="{{ url_for('main.delete_user', identifier=user['id']) }}"
    method="post"
    id="deleteUser"
  >
    <button class="form-btn delete-btn" id="modalTrigger" value="Delete user">
      <i class="fa-regular fa-trash-can"></i>
      Delete User - ({{ uname }})
    </button>
    
    {{ create_modal("Are you sure you want to delete " + uname, "delete" + uname)}}
  </form>
</section>
<script
  type="module"
  src="{{ url_for('static', filename='js/delete.js') }}"
>
</script>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/components/modal.css')}}" 
/>
{% endif %} 
{% endblock %}
