<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}">
</head>

<body>
    <div class="menu-toggle">
        <input type="checkbox" id="menu-checkbox" />
        <label for="menu-checkbox">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <ul class="menu">
            <button class="button" onclick="window.location.href='/'">Home</button>
            <button class="button" onclick="window.location.href='/active_connections'">Active Connections</button>
            <button class="button" onclick="window.location.href='/active_users'">Active Users</button>
        </ul>
    </div>
</body>