<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}">
</head>

<body>
    <div class="menu-toggle">
        <input type="checkbox" id="menu-checkbox" />
        <label for="menu-checkbox">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <ul class="menu">
            
            <h2><i class="fa-solid fa-compass"></i> Menu </h2>

            <a href="/" class="button">
                <i class="fa-solid fa-house"></i>
                Home 
            </a>
            <a href="/sources" class="button">
                <i class="fa-solid fa-database"></i> Data Sources 
            </a>
            <a href="/users" class="button">
                <i class="fa-solid fa-users-viewfinder"></i> Users 
            </a>
            
            <h2><i class="fa-solid fa-screwdriver-wrench"></i> Dashboards </h2>

            {% for plugin in g.plugins %}
            <a class="button" href="/{{ plugin }}">
                {{ plugin }}
            </a>
            {% endfor %}

            <h2><i class="fa-brands fa-goodreads"></i> Guacamole</h2>

            <a class="button" href="/guacamole">
                <i class="fa-solid fa-network-wired"></i> Topology
            </a>
            <a class="button" href="/guacamole/connections_graph">
                <i class="fa-solid fa-circle-nodes"></i> Connections Graph 
            </a>
            <a class="button" href="/guacamole/slideshow">
                <i class="fa-solid fa-tv"></i> Connection Slideshow 
            </a>
            <a class="button" href="/guacamole/active_connections">
                <i class="fa-solid fa-wifi"></i>  Active Connections 
            </a>
            <a class="button" href="/guacamole/active_users">
                <i class="fa-solid fa-users-rays"></i> Active Users 
            </a>
        </ul>
    </div>
</body>
