<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}">
</head>

<body>
    <div class="menu-toggle">
        <input type="checkbox" id="menu-checkbox" />
        <label for="menu-checkbox">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <ul class="menu">
            <a href="/" class="button">Home</a>
            <a href="/sources" class="button">Data Sources</a>
            <a href="/users" class="button">Users</a>
            <a href="/hello" class="button">Hello World</a>
        </ul>
    </div>
</body>