.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.whl
.cache/
.ruff_cache/
.mypy_cache/
.pytest_cache/
example.env
.git/
.github/
.github/*
.github/**/*
.gitignore
.gitattributes
.idea/
.vscode/

.DS_Store
Thumbs.db

pgdata/
*.log
logs/
coverage/
.coverage
dist/
build/

.env
.*.env
example.env

secrets/

README.md
LICENSE

docker-compose*.yml
Dockerfile