/* static/css/form.css */
.form-container {
  background-color: var(--dark);
  max-width: 25rem;
  width: 90%;
  padding: 2.5rem;
  border-radius: 0.9375rem;
  box-shadow: 0 0 1.875rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.form-title {
  text-align: center;
  color: #ffffff;
  font-size: clamp(1.5rem, 4vw, 2rem);
  margin-bottom: 1.875rem;
  animation: scaleText 1s 0.5s ease-in-out;
}

.input-field {
  position: relative;
  margin-bottom: 1.5625rem; /* 25px to rem */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.input-field:hover {
  transform: translateY(-0.3125rem); /* 5px to rem */
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2); /* 5px 15px to rem */
}

.input-field input {
  width: 100%;
  padding: 0.75rem 0.9375rem; /* 12px 15px to rem */
  background-color: #2a2a2a;
  border: 0.125rem solid #3a3a3a; /* 2px to rem */
  border-radius: 0.5rem; /* 8px to rem */
  font-size: 1rem; /* 16px to rem */
  color: #ffffff;
  transition: all 0.3s ease;
}

.input-field input:focus {
  border-color: var(--hm-green);
  box-shadow: 0 0 0.625rem var(--hm-green); /* 10px to rem */
}

.input-field i {
  position: absolute;
  top: 50%;
  right: 0.9375rem; /* 15px to rem */
  transform: translateY(-50%);
  color: #777;
  transition: all 0.3s ease;
}

.input-field input:focus + i {
  color: var(--hm-green);
}

.form-btn {
  width: 100%;
  padding: 0.875rem;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-out;
  border: 0.15625rem solid white;
  margin: 0.3125rem;
}

.form-btn:hover {
  border-radius: 10%;
}

.submit-btn {
  background-color: var(--accent-blue);
  color: white;
}

.submit-btn i {
  margin-left: 0.5rem;
  opacity: 0;
  transition: all 0.3s ease;
  color: var(--hm-green);
}

.submit-btn:hover {
  color: white;
}

.submit-btn:hover i {
  opacity: 1;
}

.blue-btn {
  display: inline-block;
  background-color: var(--accent-blue);
  color: var(--cool-grey);
  padding: 0.75rem 1.5rem; /* 12px 24px to rem */
  border-radius: 1.875rem; 
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease-out;
  border: 0.15625rem solid transparent;
}

.blue-btn:hover {
  color: white;
  border: 0.15625rem solid white; 
}
