{% extends 'base.html' %}

{% block title %}Entry {{ entry.id }}{% endblock %}
{% block header %}Entry {{ entry.id }}{% endblock %}

{% block content %}

<script>
    function toggleVisibility(identifier) {
      var passwordInput = document.getElementById(identifier);
      if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
      } else {
        passwordInput.type = 'password';
      }
    }
  </script>

<a href="{{ url_for('main.list_data_source_entries', datasource=datasource) }}">Back to {{ datasource }} Entries</a>
<div class="column">
<form class="form-entry" method="post">
    {% for key, value in dict(entry).items() %}
    {% if key == 'id' %}
        <input type="hidden" id="{{ key }}" name="{{ key }}" value="{{ value }}">
    {% elif key == 'password'%}
        <label for="{{ key }}">{{ key }}:</label>
        <div class="forum-input">
            <input type="password" id="{{ key }}" name="{{ key }}" value="{{ value }}">
            <button class="password-toggle" type="button" onclick="toggleVisibility('{{ key }}')">👁</button>
        </div>
    {% else %}
        <label for="{{ key }}">{{ key }}:</label>
        <input type="text" id="{{ key }}" name="{{ key }}" value="{{ value }}">
    {% endif %}
        <br>
    {% endfor %}
    <input class="button" type="submit" value="Update Entry">
</form>
<form class="form-delete-entry" method="post" action="{{ url_for('main.delete_source_entry', datasource=datasource, entry_id=entry.id) }}" onsubmit="return confirm('Are you sure you want to delete this entry?');">
    <input type="hidden" name="entry_id" value="{{ entry.id }}">
    <input class="button" type="submit" value="Delete Entry">
</form>
</div>
<!-- Add a form here if you want to support deleting this entry -->
{% endblock content %}

