@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
  max-width: 1200px;
  width: 100%;
  animation: fadeIn 0.5s ease;
}

.card {
  position: relative;
  width: 30%;
  background-color: var(--accent-grey);
  color: white;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px var(--accent-grey);
  transition: all 0.3s ease;
  border: 2.5px solid white;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px var(--accent-blue);
  border-color: white;
  border-radius: 15px;
}

.card-image {
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease;
}

.card:hover .card-image {
  transform: scale(1.1);
}

.card:hover .card-desc {
  color: white;
}

.card-content {
  padding: 1.5rem;
  background-color: black;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.card-title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  text-align: center;
}

.card-desc {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--cool-grey);
}

.card-btn {
  background-color: var(--accent-blue);
  color: var(--cool-grey);
  border: none;
  padding: 1rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all fadeIn 0.3s;
  border-radius: 5px;
}

.card-btn i {
  margin-right: 0.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-btn:hover {
  transform: translateY(-3px);
  color: white;
}

.card-btn:hover i {
  opacity: 1;
  color: var(--hm-green);
}

@media (max-width: 768px) {
  .card {
    width: 48%;
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}
