<!DOCTYPE html>
<html>

<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    {% include 'partials/menu.html' %}
    <h1>Admin Panel</h1>
    <div class="columns">
        <div class="column">
            <h1>Guacamole Connections</h1>
            <canvas id="chart" width="400" height="400"></canvas>
            <script src="{{ url_for('static', filename='js/graph.js') }}"></script>
        </div>
    </div>
</body>

</html>