/* 
	colors allowed by the branding guidelines -v
	also white and black are allowed
*/
:root {
	--black: #000;
	--cool-grey: #9a9b9d;
	--accent-blue: #50787f;
	--sm-orange: #dc582a;
	--hm-green: #c1d72e;
	--accent-grey: #636467;
	--dark-light: #212529;
	--white: #fff;
}

body {
	background-color: var(--dark-light);
	color: var(--white);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hm-green {
	color: #c1d72e;
}

.cool-grey {
	color: var(--cool-grey);
}

.sm-orange {
	color: var(--sm-orange);
}

.accent-grey {
	color: var(--accent-grey);
}

.accent-blue {
	color: var(--accent-blue);
}

.btn-primary {
	background-color: var(--accent-blue);
	border-color: var(--accent-blue);
	color: var(--white);
	border-radius: 4px;
}

.btn-primary:hover {
	background-color: var(--accent-grey);
	border-color: var(--accent-grey);
}
