/* static/css/components/typing.css */
.typer-config {
  white-space: normal; 
  word-wrap: break-word; 
  word-break: break-word;
  overflow-wrap: break-word; 
  overflow: hidden;
  display: inline;
}

.blinking-cursor {
  display: inline;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
