@import url("forms.css");
@import url("root.css");
@import url("components/toggle_msg.css");
@import url("effects/keyframes.css");

.content {
  margin: 0;
  padding: 0;
  background-color: var(--accent-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

#submit:hover i {
  color: var(--hm-green);
}

