@import url("forms.css");
@import url("root.css");
@import url("components/error-msg.css");

.content {
  margin: 0;
  padding: 0;
  background-color: var(--accent-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

#submit:hover i {
  color: var(--hm-green);
}

@keyframes scaleText {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}
