/* these are the only allowed colors aside from black & white */
:root {
    --dark: #000000;
    --cool-grey: #9a9b9d;
    --accent-blue: #50787f;
    --sm-orange: #dc582a;
    --accent-grey: #636467;
    --hm-green: #c1d72e;
}

body {
    margin: 0 auto;
    background: 636467;
}

/* main heaing */
.title-text {
    color: white;
    font-family: 'Noto Sans', sans-serif;
    display: inline-block;
    padding: 13px;
    background-color: var(--dark);
    border: 2px solid var(--cool-grey);
    border-radius: 40%;
    transition: all 0.3s ease-out;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.title-text:hover {
    font-weight: bolder;
    text-decoration: underline;
    background-color: var(--accent-grey);
    border: 2px solid var(--cool-grey);
    border-radius: 45%;
}

.header-right {
    position: absolute;
    right: 0;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 1.2rem;
}

/* The Buttons That Have the User Info to the Right */
.header-right li {
    margin: 10px;
    transition: 0.3s ease-out;
}

/* the blocks of btns  or li */
.header-right li span  {
    display: block;
    padding: 0.5rem;
    border: 2.5px solid white;
    font-family: 'Noto Sans', sans-serif;
    background-color: black;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.header-btn a {
    padding: 0.5rem;
    right: 0;
    text-decoration: none;
    color: white;
}
.header-btn a:hover {
    border-radius: 20%;
    text-transform: lowercase;
}

.header-right li span:hover {
    color: #ffffff;
    border: 2.5px solid #ffffff;
    cursor: pointer;
    text-transform: lowercase;
    text-decoration: underline;
    border-radius: 20%;
}

nav {
    background: black;
    display: flex;
    align-items: center;
    padding: 16px;
    min-height: 2.4rem;
}

/* nav a {
    display: block;
    padding: 0.5rem;
    right: 0;
} */

hr {
    border: none;
}


.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.content {
    padding: 1rem;
    position: relative;
    background-color: var(--accent-grey);
    color: black;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.content a {
    padding: 0.5rem;
    right: 0;
    color: #C1D72E;
    max-width: 300px;
    text-align: center;
}

table {
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
    min-width: 50%;
    height: auto;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: black;
}

.edit-link {
    color: blue;
    text-decoration: underline;
}

.button {
    display: block;
    margin: 12px auto;
    padding: 12px 24px;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: #dc582a;
    fill: black;
    font-size: large;
    background-color: #111;
    transition: background-color 0.25s ease;
}

.button:hover {
    background-color: #dc582a;
    color: white;
}

.main-block {
    flex: 7;
    padding: 20px;
    border: 1px solid #111;
    margin: 50px 40px 20px 20px;
    background-color: grey;
    height: 100%;
}

.details-block {
    flex: 3;
    padding: 20px;
    border: 1px solid #111;
    margin: 50px 20px 40px 20px;
    background-color: grey;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
