<!-- 
    The HTML of the Hamburger Menu on The Left 
    uses the menu.css stylesheet which is imported
    in style.css
-->
{% from 'macros/icons.html' import get_plugin_icon   %}
<div class="menu-toggle">
  <input type="checkbox" id="menu-checkbox" />
  <label for="menu-checkbox">
    <i class="fa-solid fa-gears"></i>
  </label>
  <ul class="menu" id="menuItems">
    <h2 class="menu-heading"><i class="fa-solid fa-screwdriver-wrench"></i> Dashboard</h2>

    <a href="/" class="menu-btn">
      <i class="fa-solid fa-house"></i>
      Home
    </a>
    <a href="/sources" class="menu-btn">
      <i class="fa-solid fa-database"></i> 
      Data Sources
    </a>
    <a href="/users" class="menu-btn">
      <i class="fa-solid fa-users-viewfinder"></i> 
      Users
    </a>

    <h2 class="menu-heading">
      <i class="fa-solid fa-plug"></i>
      Plugins
    </h2>

    {% for plugin in g.plugins %}
    <a class="menu-btn" href="/{{ plugin }}"> 
      {{ get_plugin_icon(plugin) }}
      {{ plugin }} 
    </a>
    {% endfor %}
  </ul>
</div>
