{% extends 'base.html' %}

{% block title %}Users{% endblock %}
{% block header %}Create User{% endblock %}

{% block content %}
<form method="post">
  <div class="forms-container">
    <div class="column">
      <div class="form-entry">
        <label for="username">Username</label>
        <input name="username" id="username" required>
        <label for="password">Password</label>
        <input name="password" id="password" type="password" required>
        <label for="permission">Permission</label>
        <select name="permission" id="permission" required>
          <option value="admin">Admin</option>
          <option value="user">User</option>
          <option value="read_only">Read Only</option>
        </select>
        <br>
        <input type="submit" value="Save" class="button">
      </div>
    </div>
  </div>
</form>
{% endblock %}