{% extends 'base.html' %} 
{% block title %}Data Sources{% endblock %} 
{% block header %} Edit Data Sources {% endblock %} 
{% block imports %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/plugins.css') }}" />
{% endblock %}
{% block content %}
<section class="star-background main">
  <div class="content-block">
    <h2 clas="block-txt">
      <i class="fa-regular fa-pen-to-square"></i>
      Edit Data Sources
      <i class="fa-solid fa-database"></i>
    </h2>
    <div class="plugin-grid">
      {% for plugin in g.plugins %}
      <div class="plugin-item">
        <div
          class="plugin-thumbnail"
          style="background-image: url('{{ url_for('static', 
          filename='images/card_icons/' ~ plugin ~ '.png') }}');"
        ></div>
        <!-- this will say theres an error but it works -->
        <br />
        <div class="plugin-content">
          <h3>{{ plugin }}</h3>
          <a 
            href="{{ url_for('main.data_source_entries', datasource=plugin) }}" 
            class="blue-btn"
          >
            Edit {{ plugin }}</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- {% for plugin in g.plugins %}
<article class="plugin">
  <header>
    <div>
        <a class="button" href="{{ url_for('main.data_source_entries', datasource=plugin) }}">{{ plugin }}</a>
    </div>
  </header>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %} -->

{% endblock content %}
