{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block header %}Home{% endblock %}
{% block imports %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{{ url_for('static', filename='css/plugins.css') }}" 
/>
<link 
  rel="stylesheet" 
  href="{{ url_for('static', filename='css/components/card.css')}}"
>
{% endblock %}
{% block content %}
<section id="home" class="hero">
  <div class="content-block">
    <h1 class="block-txt">
      Welcome to the Range Monitor
    </h1>
    <div id="heroText" 
      {% if g.user['username'] %}
          data-username="{{ g.user['username'] }}"
      {% else %}
          data-username="Guest"
      {% endif %}>
    </div>
    <div class="content-block">
      <h2 clas="block-txt" id="pluginHeader">Plugins</h2>
      {% include './partials/plugin-card.html' %}
    </div>
  </div>
</section>

<script type="module" src="{{ url_for('static', filename='js/index.js')}}"></script>
{% endblock %}
