{% extends 'base.html' %}

{% block title %}Users{% endblock %}
{% block header %}User List{% endblock %}

{% block content %}
  {% include 'partials/user_list.html' %}
<!-- <table>
  <tr>
    <th>User Name</th>
    <th>Permission</th>
    <th>Date Created</th>
  </tr>
  {% for user in users %}
  <tr>
    <td>
      {% if g.user['permission'] == 'admin' %}
        <a href="{{ url_for('main.edit_user', identifier=user['id']) }}">
          {{ user['username'] }}
        </a>
        
      {% elif g.user['permission'] == 'user' and g.user['id'] == user['id'] %}
        <a href="{{ url_for('main.edit_user', identifier=user['id']) }}">
          {{ user['username'] }}
        </a>
      {% else %}
        {{ user['username'] }}
      {% endif %}
    </td>
    <td>{{ user['permission'] }}</td>
    <td>{{ user['created'] }}</td>
  </tr>
  {% endfor %}
</table> -->
{% endblock %}