{% extends 'base.html' %} 
{% block title %}Users{% endblock %} 
{% block header %}User List{% endblock %}
{% block content %}
{% from 'macros/icons.html' import get_user_icon %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user_list.css') }}">
<section class="contain">
  <section class="user-list">
    <h1 class="list-heading"><i class="fa-solid fa-users"></i> Users</h1>
    <ul id="userList" class="user-entries">
      {% for user in users %} 
        <li class="user-entry">
          <div class="usr-icon">
            {{ get_user_icon(user['permission']) }}
          </div>
          <div class="user-info">
            <h2 class="user-name">
              {{ user['username'] }}
              <span class="user-perms">
                 {{ user['permission'] }} 
              </span>
            </h2>
            <p class="user-date">
              <i class="fa-solid fa-calendar-check"></i>
              {{ user['created'] }}
            </p>
          </div>

          {% if g.user['permission'] == 'admin' %}
            <a
              href="{{ url_for('main.edit_user', identifier=user['id']) }}"
              class="edit-btn"
            >
              <i class="fas fa-edit"></i> Edit User
            </a>
          {% elif g.user['permission'] == 'user' and g.user['id'] == user['id'] %}
            <a
              href="{{ url_for('main.edit_user', identifier=user['id']) }}"
              class="edit-btn"
            >
              <i class="fas fa-edit"></i> Edit User
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% if g.user['permission'] == 'admin' %}
      <a
        href="{{ url_for('main.create_user') }}"
        id="createUser"
        class="create-btn"
      >
        <i class="fas fa-user-plus"></i> Create New User
      </a>
    {% endif %}
  </section>
</section>
<script src="{{ url_for('static', filename='js/plugins.js')}}"></script>
{% endblock %}
